html {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-size: 36px;
    font-style: italic;
}
h1, h2, h3, h4 {
    text-align: center;
}
p, h2, ol {
  color: rgb(14, 236, 69);
  
}
img {
    display: block;
    max-width: 80%;
    margin: 0% 10%;
}